h1 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  color: #dce3ec;
}

.cards {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.card {
  background: #0b1321;
  padding: 1.4rem;
  border-radius: 12px;
  flex: 1;

  p {
    color: #7b8491;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #dce3ec;
    line-height: 1.3rem;
  }

  &.large {
    flex: 1;
  }

  &.map {
    height: 350px;
    display: flex;
    flex-direction: column;

    #map {
      flex: 1;
      margin-top: 1rem;
      border-radius: 12px;
    }
  }
}
