.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 20px;
  background: white;
  border-bottom: 1px solid #ddd;

  input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 280px;
  }
}
