.map-container {
  height: 80vh;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.actions {
  margin: 10px;
  text-align: center;

  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}
