.login-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/img/fondo-login.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 80%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 20px;
}

.left {
  width: 50%;
  color: black;
  margin-top: 100px;

  h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 17px;
    opacity: .8;
  }
}

.right {
  width: 40%;
  background: rgba(255, 255, 255, 0.8);
  padding: 35px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input {
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
  }

  button {
    padding: 12px;
    font-size: 18px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #0066d1;
    }
  }

  .forgot {
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}
